[submodule "python-codes"]
	path = python-codes
	url = git@github.com:mdcourse/python-codes.git
[submodule "applications"]
	path = applications
	url = git@github.com:mdcourse/applications.git
[submodule "credits"]
	path = credits
	url = git@github.com:simongravelle/credits.git
